<header class="p-3 mb-3 border-bottom bg-title">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <!-- <img width="40px" height="40px" src="/assets/images/booking-logo.png"> -->
                <h5 class="text-white">Booking App</h5>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <!-- <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>-->
            </ul>

            <form class="col-12 col-lg-4 mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Movie or Theatre Name" aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small bg-title" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item text-white" href="#">Settings</a></li>
                    <li><a class="dropdown-item text-white" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-white" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main class="px-2">
    <div class="mb-4 container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mb-1">
                    <img [src]="currentSelectedTheatreDetails[0]?.thumbnail_url" [alt]="'Theatre picture'" width="100%" height="280px">
                </div>
                <div class="theatre-address mb-4 py-2 border-bottom">
                    <small>#{{currentSelectedTheatreDetails[0]?.address}}.</small>
                </div>
                <div class="border-0">
                    <ul class="showDate border-0 p-0 mb-2">
                        <li class="mx-4" *ngFor="let date of showAvailableDates;let i=index;"
                            (click)="selectedDate(date,i)"><a class="a-date border-0"
                                [ngClass]="{'active-date': date.active}"><span
                                    class="day text-center">{{date.day}}</span><br><span class="date text-center px-1"
                                    [ngClass]="{'active-border': date.active}">{{date.date}}</span></a></li>
                    </ul>
                </div>
                <h4 class="text-color my-4 border-top pt-3">{{theatreName}} - Show Details >></h4>
                <div *ngFor="let show of currentSelectedTheatreDetails;let i=index;" class="card col-sm-12 mb-4 p-4">
                    <div class="row mb-2 align-items-center p-0 m-0 movie">
                        <div class="col-5 text-color">
                            <h6>Movie Name</h6>
                        </div>
                        <div class="col-3 text-color">
                            <h6>Show Time</h6>
                        </div>
                        <div class="col-4 text-end pe-4">
                            <h6>Action</h6>
                        </div>
                    </div>
                    <div class="row mb-2 align-items-center p-0 m-0 movie">
                        <div class="col-5 text-color">
                            <strong>{{show.show1_movie}}</strong>
                        </div>
                        <div class="col-3 text-color">
                            {{show.show1_time}}
                        </div>
                        <div class="col-4">
                            <button (click)="bookingSeats(show?.show1_movie,show.theatre_name,show.show1_time,1)"
                                class="btn btn-primary float-end">Continue</button>
                        </div>
                    </div>
                    <div class="row mb-2 align-items-center p-0 m-0 movie">
                        <div class="col-5 text-color">
                            <strong>{{show.show2_movie}}</strong>
                        </div>
                        <div class="col-3 text-color">
                            {{show.show2_time}}
                        </div>
                        <div class="col-4">
                            <button (click)="bookingSeats(show?.show2_movie,show.theatre_name,show.show1_time,2)"
                                class="btn btn-primary float-end">Continue</button>
                        </div>
                    </div>
                    <div class="row mb-2 align-items-center p-0 m-0 movie">
                        <div class="col-5 text-color">
                            <strong>{{show.show3_movie}}</strong>
                        </div>
                        <div class="col-3 text-color">
                            {{show.show3_time}}
                        </div>
                        <div class="col-4">
                            <button (click)="bookingSeats(show?.show3_movie,show.theatre_name,show.show1_time,3)"
                                id="successMessage" class="btn btn-primary float-end">Continue</button>
                        </div>
                    </div>
                    <div class="row mb-2 align-items-center p-0 m-0 movie">
                        <div class="col-5 text-color">
                            <strong>{{show.show4_movie}}</strong>
                        </div>
                        <div class="col-3 text-color">
                            {{show.show4_time}}
                        </div>
                        <div class="col-4">
                            <button (click)="bookingSeats(show?.show4_movie,show.theatre_name,show.show1_time,4)"
                                id="successMessage" class="btn btn-primary float-end">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>