<!-- <div>
        {{movieDetails?.movie_name}}
        <small>{{theatre?.theatre_name}}</small>
</div> -->
<div class="modal-dialog modal-fullscreen-sm-down">
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Simple modal</h4>
    <button type="button" class="close" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="submit" class="btn btn-primary w-100">Pass back</button>
  </div>
  </div>