.theatre-address{
    font-size: smaller;
    color: darkgrey;
    min-height: 41px;
}

.card-height{
    min-height: 0px;
}

.card-body{
    min-height: 0px;
}

.rating{
    font-size: 13px;
}

.picsum-img-wrapper{
    img{
        width: 100%!important;
    }
}