<main class="p-4">
    <h4 class="text-color">Movie Tickets Booking</h4>
    <div class="row mt-4 ">
        <div *ngFor="let theatre of getAllTheaterList?.theatre;let i = index;" class="col-sm-6 mb-4">
            <div class="card card-height">
                <div class="card-header">
                    <span>{{theatre.theatre_name}}</span> <span class="float-end rating"><img class="me-1 py-auto" height="13px" width="13px" src="assets/images/rating-icon.png">{{theatre.customer_rating}}</span>                    
                </div>
                <div class="card-body">
                    <div class="theatre-address">
                    <small>#{{theatre.address}}</small>
                    </div>
                    <hr>
                    <div class="row mb-2 align-items-center p-0 m-0 movie">
                        <div class="col-5 text-color">
                            <strong>{{theatre.show1_movie}}</strong>
                        </div>
                        <div class="col-3 text-color">
                            {{theatre.show1_time}}
                        </div>
                        <div class="col-4">
                            <button (click)="bookingSeats(theatre?.show1_movie,theatre)" class="btn btn-primary float-end">Book Now</button>
                        </div>
                    </div>
                    <div class="row mb-2 align-items-center p-0 m-0 movie">
                        <div class="col-5 text-color">
                            <strong>{{theatre.show2_movie}}</strong>
                        </div>
                        <div class="col-3 text-color">
                            {{theatre.show2_time}}
                        </div>
                        <div class="col-4">
                            <button (click)="bookingSeats(theatre?.show2_movie,theatre)" class="btn btn-primary float-end">Book Now</button>
                        </div>
                    </div>
                    <div class="row mb-2 align-items-center p-0 m-0 movie">
                        <div class="col-5 text-color">
                            <strong>{{theatre.show3_movie}}</strong>
                        </div>
                        <div class="col-3 text-color">
                            {{theatre.show3_time}}
                        </div>
                        <div class="col-4">
                            <button (click)="bookingSeats(theatre?.show3_movie,theatre)" class="btn btn-primary float-end">Book Now</button>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <ng-content></ng-content>

     
</main>