/* You can add global styles to this file, and also import other style files */
$color: rgb(57 68 110);
$font-size: 13px;

.card-header {
    background-color: $color;
    color: white;
}

.text-color {
    color: $color;
}

.btn-primary {
    background-color: white !Important;
    border: 1px solid $color;
    border-radius: 5px;
    padding: 5px 13px;
    color: $color;
    font-size: $font-size;
}


.btn-primary:hover {
    background-color: rgb(57 68 110) !Important;
    color: #ffffff;
}

.movie {
    font-size: $font-size;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: $color;
}

.card {
    transition: all 0.2s ease;
}


.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    // transform: scale(1.1);
}

.seatNumber {
    border: 1px solid $color;
    border-radius: 5px;
    cursor: pointer;
}

.seat-selected {
    background-color: rgb(57, 68, 110);
}

.seatAvailable {
    background: url("./assets/images/available.png") no-repeat;
    cursor: pointer;
}

.seatUnAvailable {
    background: url("./assets/images/taken.png") no-repeat;
    cursor: pointer;
}

.seatSelected {
    background: url("./assets/images/selected.png") no-repeat;
    cursor: pointer;
}

.seatRowName {
    border-right: 1px solid $color;
    width: 8px;
}


.book-now {
    background-color: $color;
    color: #ffffff;
    outline: none;
    padding: 8px 14px;
    border-radius: 20px;
}

.book-now:hover {
    background-color: $color;
    color: #ffffff;
}

.bg-title {
    background-color: $color;
    color: #ffffff;
}

.screen {
    border-radius: 0px 0px 76px 78px;
}

.light-text{
    color: #dddddd;
}

ul{
    list-style: none;
}